/*CustomerWidget css*/
.customerWidget {
	background-color: #1d638b;
	border-radius: 10px;
	padding: 10px;
}

.customerWidget input {
	width: 100%;
	display: block;
}

.customerWidget input[type=button] {
	display: inline-block;
	width: 50%;
}

.customerWidget .show {
	display: block;	
}

.customerWidget .controls {

}

.customerWidget .creditContainer {
	display: block;
}

.customerWidget .orderContainer {
	display: none;
	height: 10%;
}



.customerWidget .controls h3 {
	display: inline-block;
	cursor: hand;
	margin: 0;
	margin-left: 20%;
}