body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.container {
    width: 47%;
    height: 400px;
    padding: 1%;
    border-radius: 10px;
    background-color: #004e72;
    font-family: "Lilita One", cursive, serif;
    text-rendering: optimizelegibility;
    font-weight: 500;
    color: white;
}

.container input {
    width: 100%;
}

.container > div {
    margin-bottom: 5px;
}

.container > div:last-child {
    margin: 0px;
}

.container h1 {
    line-height: 0.5em;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container .total {
    font-size: 1.4em;
    text-align: center;
}

.container .controls input {
    margin: 0 auto;
    width: 100%;

}

.container .controls input[type='button'] { 
    background: #569556;
    color: white;
    border-radius: 10px;
    font-size: 1.4em;
    border-width: 4px 4px 0px 0px;
    border-top-color: #7bac7b;
    border-right-color: #7bac7b;
    border-style: solid;
}


#map {
    width: 100%;
    height: 300px;
}

.tileRow {
    text-align: center;
    margin-bottom: 5px;
}

.tile {
    width: 42%;
    padding: 2%;
    padding-right: 0px;
    display: inline-block;
    background-color: #569556;
    border-radius: 10px;
    color: white;
    font-size: 1.4em;
    border-width: 4px 4px 0px 0px;
    border-top-color: #7bac7b;
    border-right-color: #7bac7b;
    border-style: solid;
    margin-right: 5px;
    vertical-align: top;
}

.tile:active {  
}

.tile:last-child {
    margin-right: 0px;
}

.tile input {
    width: 100%;
}

.tile input {
    margin: 0px;
}

.tile .content {
    height: 100px;
    cursor: hand;
}

.tile .title {
    text-align: left;
    padding-bottom: 35px;
    font-size: 0.9em;
}

.tile .description {
    text-align: right;
    font-size: 2em;
}

.selected {
    background-color: #1E331E;
}


.tileLayout {
    background-color: #1d638b;
    border-radius: 10px;
    padding: 10px;
}

.controls input[type='button'] {
    cursor: hand;
}

.history {
    overflow-y: scroll;
    height: 75%;
    width: 100%;
    /*background: #22414F;*/
    background-color: #78ADC4;
}

.history .text  {
    color: white;
    padding: 3px;
    max-width: 48%;
    background-color: #1d638b;
    background-color: ;
    margin-left: 5px;
    font-size: 0.8em;
    margin-bottom: 5px;
    border-radius: 10px;
}

.history .text:last-child {
    margin-bottom: 0px;
}

.text .message {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.history .from {
    color: black;
    margin-left: 50%;
    background-color: #569556;

}

.text .number {
    display: inline-block;
}

.text .timestamp {
    margin-left: 5px;
    display: inline-block;
}


.texterOverlay {
    display: none;
    position: relative;
    top: -70%;
    margin: auto;
    z-index: 10000;
    width: 300px;
    padding: 5px;
    background: black;
    border: 3px solid yellow;
}

.texterOverlay #message {
    text-align: center;
}